@tailwind base;
@tailwind components;
@tailwind utilities;

/* Loader.css */
.loader {
  width: 48px;
  height: 48px;
  border: 3px dotted #FFF;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #FF3D00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}



.fira-sans-condensed-thin {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-condensed-extralight {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-condensed-light {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-condensed-regular {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-condensed-medium {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-condensed-semibold {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-condensed-bold {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-condensed-extrabold {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-condensed-black {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-condensed-thin-italic {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans-condensed-extralight-italic {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans-condensed-light-italic {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans-condensed-regular-italic {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-condensed-medium-italic {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-condensed-semibold-italic {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-condensed-bold-italic {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-condensed-extrabold-italic {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-condensed-black-italic {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 900;
  font-style: italic;
}
